.no-such { color: red; top: 0; }
.hidden { display: none }
.inline { display: inline-block; }
.centered { margin: 0 auto; display: block; }
.pull-right { text-align: right; }
.small { font-size: 80%; }
.clearfix { overflow: auto; }

a, a:visited {
  text-decoration: none;
  color: rgb(0, 0, 230);
}
#page {
  min-width: 30em;
  max-width: 60em;
  padding: 0 2em;
}
#addressbar {
  margin: 0;
  padding: 0.6em 0 0.2em 0;
  font-size: 1.6em;
  font-weight: bold;
}
#authbar {
  float: right;
  font-size: 15pt;
}

/* toolbar */
#toolbar {
  float: right;
  margin: 0.8em 2em 0.2em 0;
}
.tb-btn {
  font-family: sans-serif;
  font-size: 10pt;

  padding: 0.2em 0.4em 0.1em 0.4em;
  border-radius: 0.4em;
  border: 2px solid #2070f8;

  background-color: #2070ff;
  color: white;

  cursor: pointer;
}
.tb-btn:disabled {
  border: 2px solid grey;
  background-color: white;
  color: #aaa;
}
