{% extends "tmpl.htm" %}
{% block style %}
<style>
#dir-entries {}
#dir-entries-header {
  border-bottom: 1px solid #888;
}
#dir-entries-header th {
  text-align: left;
  padding: 0.3em 0.5em;
}
#dir-entries-header th#deh-icon {
  padding: 0;
}
#actionbar {
  margin: 0em 0em 1em 0em;
  /*width: 20em; margin: 0 auto 1em auto; */
}

.entry-row {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.3em 0;
}
.entry-row:hover {
  background-color: #f8f8ff;
}
.entry-row .hoverable {
  opacity: 0.1;
}
.entry-row:hover .hoverable {
  opacity: 1;
}
.entry-select {
  width: 1.5em;
  text-align: right;
}
.file-select:checked {
  color: blue;
  opacity: 0.5;
}
.rename-link {
  float: right;
}
#file-rename {
  font-size: 9pt;
  box-shadow: inset 1px 1px 2px 0 #707070;
  outline: 0;
  width: 20em;
  padding: 0.1em 0;
}

.entry-size {
  padding-left: 1em;
  font-size: 90%;
}
.entry-ctime {
  padding-right: 1em;
  font-size: 90%;
  color: #666;
}
.entry-name {
  padding: 0.2em 1em 0.2em 0.2em;

  word-wrap: break-word;
  min-width: 12em;
  max-width: 30em;
}
.entry-action {
  padding: 0 0.5em;
}
.entry-em {
  font-weight: bold;
}
tr[data-hidden] { opacity: 0.55; }
.block { display: block; }
.icon::after { content: '.'; }
.icon { background-size: 1.2em; width: 20px; background-repeat: no-repeat; text-indent: -200em; }
.focused { background-color: #d8e0ff; }
</style>
{% endblock %}

{% block toolbar -%}
{% endblock -%}

{% block body %}
{% if clipboard -%}
<details id="clipboard-container" class="inline" style="padding-left: 0.2em;">
  <summary>
    clipboard
    <form class="inline" method="POST">
      <input type="hidden" name="action" value="cb_clear">
      <input type="submit" name="clear" value="clear">
    </form>
    <form id="cb-paste-form" class="inline" method="POST">
      <input type="hidden" name="action" value="paste">
      <input type="submit" name="paste" value="paste">
    </form>
  </summary>
  <div>
    <table id="clipboard-tbl">
      <tbody>
        <tr>
          <th></th>
          <th></th>
          <th>path</th>
          <th>action</th>
        </tr>
        {% for entry in clipboard -%}
        <tr>
          <td>{{ entry.do }}</td>
          <td class="entry-icon {{ entry.icon_src }} icon"></td>
          <td>{{ entry.path }}</td>
          <td>
            <form method="POST">
              <input type="hidden" name="action" value="restore">
              <input type="hidden" name="path" value="{{ entry.path }}">
              <input type="submit" name="restore" value="restore" disabled>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</details>
<hr>
{% endif %}
<form id="dir-actions" action="" method="POST">
  <div id="actionbar" class="clearfix">
    <button id="do-download" type="submit"
        name="action" value="download"
        title="&#8984;-&darr;" class="tb-btn">
      Download
    </button>
    <button id="do-copy" type="submit"
        name="action" value="copy"
        title="&#8984;-C" class="tb-btn" >
      Copy
    </button>
    <button id="do-cut" type="submit"
        name="action" value="cut"
        title="&#8984;-X" class="tb-btn">
      Cut
    </button>
    <button id="do-delete" type="submit"
        name="action" value="delete"
        title="" class="tb-btn">
      Delete
    </button>
  </div>
  <table id="dir-entries">
    <tr id="dir-entries-header">
      <th id="deh-icon" class="dl-icon icon"> </th>
      <th id="deh-name">name &nbsp;</th>
      <th id="deh-rename"></th>
      <th id="deh-ctime">created &nbsp;</th>
      <th id="deh-size">size &nbsp;</th>
      <th id="deh-select"></th>
    </tr>
    {% for entry in lsdir %}
    <tr class="entry-row"
        {% if entry.is_hidden -%}data-hidden {% endif -%}
        {% if entry.mime -%}data-mime="{{ entry.mime }}" {% endif -%}
        data-ctime="{{ entry.ctime }}"
        >
      <td class="entry-icon">
        <a class="{{ entry.icon_src }} block icon" href="{{ entry.href + '?dl' }}"></a>
      </td>
      <td class="entry-name">
        {% if rename == entry.name -%}
        <form method="POST">
          <input type="hidden" name="action" value="rename">
          <input type="hidden" name="oldname" value="{{ entry.name }}">
          <input type="text" id="file-rename"
                 name="newname" value="{{ entry.name }}"
                 class="editable focusable" autofocus spellcheck="false">
          <input type="submit" name="rename" value="rename">
        </form>
        {% else -%} 
        {%if entry.see_url -%}
        <a href="{{ entry.see_url }}" class="focusable file-link" tabindex="{{ entry.tabindex }}">
          {{ entry.name }}
        </a>
        {% else -%}
        <a href="{{ entry.href }}" class="focusable file-link" tabindex="{{ entry.tabindex }}">
          {{ entry.name }}
        </a>
        {% endif %}
        {% endif -%}
      </td>
      <td class="entry-rename">
        <a href="{{ entry.rename_url }}" class="hoverable" title="rename">
          <img src="{{ url_for('static_handler', path='rename.png') }}" width="16" height="16" class="">
        </a>
      </td>
      <td class="entry-ctime" title="{{ entry.full_ctime }}">{{ entry.created_at }}</td>
      <td class="pull-right entry-size">{{ entry.size }}</td>
      <td class="entry-select">
        <input type="checkbox" class="file-select hoverable"
               name="file" value="{{ entry.name }}" form="dir-actions"/>
      </td>
    </tr>
    {% if entry.play -%}
    <tr class="entry-row entry-play">
      <td class="entry-icon"></td>
      <td class="entry-name">
        <audio id="play-audio" src="{{ entry.href }}" class="focusable" autoplay="true" controls>No sound :(</audio>
      </td>
      <td class="entry-ctime">&#8617;</td>
      <td class="entry-size"></td>
      <td class="entry-select">
        <input type="checkbox" disabled class="file-select hoverable" name="audio" value=""/>
      </td>
    </tr>
    <script>
      var player = document.querySelector('#play-audio');
      player.onended = function () {
        var tr = document.querySelector('tr.entry-play');
        while (true) {
          tr = tr.nextElementSibling;
          if (!tr)
            break;
          var mime = tr.getAttribute('data-mime');
          if (mime && mime.startsWith('audio/')) {
            window.location = tr.querySelector('.file-link').href;
            break;
          }
        }
      };
    </script>
    {% endif -%}
    {% endfor -%}
  </table>
</form>
<hr/>
<form action="" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="action" value="upload">
  <input type="file" name="file" class="" tabindex="{{ upload_tabidx }}"/>
  <input type="submit" name="upload" class="tb-btn" value="Upload" tabindex="{{ upload_tabidx + 1 }}"/>
</form>
{# after the main content is shown: -#}
<style id="dir-css">
.dir-icon { background-image: url("data:image/png;base64,{% include "res/dir.png.base64" -%}"); }
.file-icon { background-image: url("data:image/gif;base64,{% include "res/file.gif.base64" -%}"); }
.dl-icon { background-image: url("data:image/svg+xml;base64,{% include "res/dl.svg.base64" %}"); }
</style>
<script src="{{ url_for('static_handler', path='dir.js') }}" async></script>
{% endblock %}
