{% extends "tmpl.htm" %}

{% block style %}
<style id="see-css">
.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.ontop {
  position: absolute;
  z-index: 100;
  opacity: 0.6;
}
.ontop:hover {
  opacity: 1;
}
#fullscr-btn:active, #fullscr-btn:hover {
  cursor: move;
}
#file-frame {
  width: 100%;
  height: calc(100vh - 5.5em); 
  position: relative;
  box-shadow: 0 0 1.5em black; 
}
</style>
{% endblock %}

{% block toolbar %}
<button id="fullscr-btn" class="hidden tb-btn">fullscreen</button>
<a href="{{ file_url }}"><button id="row-btn" class="tb-btn">raw</button></a>
<a href="{{ file_url }}?dl"><button id="dl-btn" class="tb-btn">download</button></a>
{% endblock %}

{% block body %}
<div id="frame-container" class="centered">
  <iframe id="file-frame" name="file-preview"
          class="centered" frameborder="0"
          src="{{ file_url }}"
          >
    <div class="no-such">
    Your file should appear here, but something went wrong
    </div>
  </iframe>
</div>

<script>
var fsbtn = document.querySelector('#fullscr-btn');
fsbtn.classList.remove('hidden');

var toggleFullscreen = function () {
  var fc = document.querySelector('#frame-container');
  var ff = document.querySelector('#file-frame');
  var isFullscreen = !fc.classList.contains('fullscreen');

  fc.classList.toggle('fullscreen');
  fsbtn.classList.toggle('ontop');
  fsbtn.setAttribute('draggable', isFullscreen);

  if (isFullscreen) {
    ff.style.height = '100vh';
    fsbtn.innerText = 'exit fullscreen';
  } else {
    ff.style.height = 'calc(100vh - 5.5em)';
    fsbtn.innerText = 'fullscreen';
  }
};

fsbtn.onclick = toggleFullscreen;
fsbtn.ondragend = function (event) {
  fsbtn.style.left = event.clientX + 'px';
  fsbtn.style.top = (event.clientY - this.offsetHeight) + 'px';
};
</script>
{% endblock %}
