a {
  text-decoration: none;
}
.no-such {
  color: red;
}
.hoverable { display: none }

.centered { margin: 0 auto; display: inline-block; }
.pull-right { text-align: right; }
.small { font-size: 80%; }
