a {
  text-decoration: none;
}
#dir-entries-header {
  border-bottom: 1px solid #aaa;
}
#dir-entries-header th {
  text-align: left;
  padding: 0.3em 0.5em;
  /*border-bottom: 1px solid #aaa;*/
}

.no-such {
  color: red;
}
.hoverable { display: none }

.dir-entry-row {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.3em 0;
}
.dir-entry-row:hover {
  background-color: #f8f8f8;
}
.dir-entry-row:hover .hoverable {
  display: inline-block;
}

.dir-entry-size {
  padding-left: 1em;
}
.dir-entry-name {
  word-wrap: break-word;
  min-width: 12em;
  max-width: 30em;
  padding-right: 1em;
}
.dir-entry-type {
  color: grey;
}
.entry-em {
  font-weight: bold;
}

#file-frame {
  position: absolute;
  width: 95%;
  height: 85%;
  border: none;
  box-shadow: 10px 10px 5px #888;
}

.centered { margin: 0 auto; display: inline-block; }
.pull-right { text-align: right; }
.small { font-size: 80%; } 

/* vim: set sts=2 sw=2 */
