a {
  text-decoration: none;
}

.dir-entry-row:hover {
  background-color: #f8f8f8;
}

.hoverable { display: none }

.dir-entry-row {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.dir-entry-row:hover .hoverable {
  display: inline-block;
}
.dir-entry-size {
  padding-left: 1em;
}
.dir-entry-name {
  word-wrap: break-word;
  min-width: 12em;
  max-width: 30em;
  padding-right: 1em;
}
.dir-entry-type {
  color: grey;
}

.entry-info { text-decoration: italic; }

.pull-right { text-align: right; }
.small { font-size: 80%; } 

/* vim: set sts=2 sw=2 */
