{% extends "tmpl.htm" %}
{% block body %}
<h2>
  <a href="/my">FS:</a> {% for prefix, href in path_prefixes %} / <a href="{{ href }}">{{ prefix }}</a>{% endfor %}
</h2>
<hr/>
<table>
  <tr>
    <th></th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; filename &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; bytes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  </tr>
  {% for entry in lsdir %}
  <tr>
    <td>{% if entry.isdir %}<img src="/res/dir.png" alt="dir" width="16"/>{% endif %}</td>
    <td><a href="{{ entry.href }}">{{ entry.name }}</a></td>
    <td>{{ entry.size }}</td>
  </tr> {% endfor %}
</table>
<hr/>
<form action="" method="POST" enctype="multipart/form-data">
  <input type="file" name="file"/>
  <input type="submit" value="Upload"/>
</form>
{% endblock %}
