{% extends "tmpl.htm" %}
{% block style %}
<style>
#dir-entries-header {
  border-bottom: 1px solid #aaa;
}
#dir-entries-header th {
  text-align: left;
  padding: 0.3em 0.5em;
}
#dir-entries-header th#deh-dl {
  padding: 0;
}

.entry-row {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.3em 0;
}
.entry-row:hover {
  background-color: #f8f8f8;
}
.entry-row:hover .hoverable {
  display: inline-block;
}
.entry-size {
  padding-left: 1em;
  font-size: 90%;
}
.entry-ctime {
  padding-right: 1em;
  font-size: 90%;
  color: #666;
}
.entry-name {
  padding: 0.2em 1em 0.2em 0.2em;

  word-wrap: break-word;
  min-width: 12em;
  max-width: 30em;
}
.entry-action {
  padding: 0 0.5em;
}
.entry-em {
  font-weight: bold;
}
</style>
{% endblock %}

{% block toolbar %}
{% endblock %}

{% block body %}
{% if clipboard %}
<details style="display: inline-block; padding-left: 0.2em;">
  <summary>
    clipboard
    <form class="inline" method="POST">
      <input type="hidden" name="action" value="cb_clear">
      <input type="submit" name="clear" value="clear">
    </form>
    <form class="inline" method="POST">
      <input type="hidden" name="action" value="paste">
      <input type="submit" name="paste" value="paste">
    </form>
  </summary>
  <div>
    <table id="clipboard-tbl">
      <tbody>
        <tr>
          <th>type</th>
          <th>path</th>
          <th></th>
          <th>action</th>
        </tr>
        {% for entry in clipboard -%}
        <tr>
          <td class="{{ entry.icon_src }} icon"></td>
          <td>{{ entry.path }}</td>
          <td>{{ entry.do }}</td>
          <td>
            <form method="POST">
              <input type="hidden" name="action" value="restore">
              <input type="hidden" name="path" value="{{ entry.path }}">
              <input type="submit" name="restore" value="restore" disabled>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</details>
<hr>
{% endif %}
<table id="dir-entries">
  <tr id="dir-entries-header">
    <th id="deh-dl" class="dl-icon icon"> </th>
    <th>name &nbsp;</th>
    {# <th>type &nbsp;</th> -#}
    <th>created &nbsp;</th>
    <th>size &nbsp;</th>
    {# <th>access &nbsp;</th> -#}
    <th>action &nbsp;</th>
  </tr>
  {% for entry in lsdir -%}
  <tr class="entry-row"
      {% if entry.is_hidden -%}data-hidden {% endif -%}
      data-ctime="{{ entry.ctime }}">
    <td class="entry-icon">
      <a class="{{ entry.icon_src }} block icon" href="{{ entry.href + '?dl' }}"></a>
    </td>
    <td class="entry-name">
      {% if rename == entry.name -%}
      <form method="POST">
        <input type="hidden" name="action" value="rename">
        <input type="hidden" name="oldname" value="{{ entry.name }}">
        <input type="text" name="newname" value="{{ entry.name }}" autofocus>
        <input type="submit" value="rename">
      </form>
      {% elif entry.see_url -%}
      <a href="{{ entry.see_url }}">{{ entry.name }}</a>
      {% else -%}
      <a href="{{ entry.href }}">{{ entry.name }}</a>
      {% endif -%}
      {% if entry.play -%}
      <br><audio src="{{ entry.href }}" autoplay="true" controls>No sound :(</audio>
      {% endif -%}
    </td>
    {# <td class="entry-type">{{ entry.mime }}</td> -#}
    <td class="entry-ctime" title="{{ entry.full_ctime }}">{{ entry.created_at }}</td>
    <td class="pull-right entry-size">{{ entry.size }}</td>
    {# <td class="pull-right entry-access">
      {% if entry.shared -%}
      <a class="entry-em" href="{{ entry.shared }}">public</a>
      {% elif not entry.isdir -%}
      <form class="hoverable" action="" method="POST">
        <input type="hidden" name="action" value="share">
        <input type="hidden" name="file" value="{{ entry.name }}">
        <input type="submit" name="share" value="share">
      </form>
      {% endif -%}
    </td> -#}
    <td class="entry-action">
      <form class="hoverable" method="POST">
        <input type="hidden" name="action" value="copy">
        <input type="hidden" name="name" value="{{ entry.name }}">
        <input type="submit" name="copy" value="copy">
      </form>
      <form class="hoverable" method="POST">
        <input type="hidden" name="action" value="cut">
        <input type="hidden" name="name" value="{{ entry.name }}">
        <input type="submit" name="cut" value="cut">
      </form>
      {% if entry.rename_url -%}
      <a href="{{ entry.rename_url }}" class="hoverable">
        <input type="button" value="rename">
      </a>
      {% endif -%}
      <form class="hoverable" action="" method="POST">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="filename" value="{{ entry.name }}">
        <input type="submit" name="delete" value="delete">
      </form>
    </td>
  </tr>
  {% endfor -%}
</table>
<hr/>
<form action="" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="action" value="upload">
  <input type="file" name="file"/>
  <input type="submit" name="upload" value="Upload"/>
</form>
{# after the main content is shown: -#}
<style id="dir-css">
.block { display: block; }
.icon::after { content: '.'; }
tr[data-hidden] { opacity: 0.55; }
.icon { background-size: 1.2em; width: 20px; background-repeat: no-repeat; text-indent: -200em; }
.dir-icon { background-image: url("data:image/png;base64,{% include "res/dir.png.base64" -%}"); }
.file-icon { background-image: url("data:image/gif;base64,{% include "res/file.gif.base64" -%}"); }
.dl-icon { background-image: url("data:image/svg+xml;base64,{% include "res/dl.svg.base64" %}"); }
</style>
{% endblock %}
