<!DOCTYPE html>
<html>
<head>
  <title>FS: {{ title }}</title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static_handler', path='dir.png') }}" />
  {% for css_href in css_links -%}
  <link rel="stylesheet" type="text/css"
     href="{{ css_href }}" />
  {% endfor -%}
  {% for js_href in js_links -%}
  <script src="{{ js_href }}"></script>
  {% endfor -%}
  {% block style %}
  {% endblock -%}
</head>
<body>
<div id="page" class="centered">
  <h1>
    <a href="{{ url_for('path_handler') }}">FS:</a>
    {% for prefix, href in path_prefixes -%}
    {% if href -%} / <a href="{{ href }}">{{ prefix }}</a>
    {% else -%}
    / <span class="no-such">{{ prefix }}</span>
    {% endif -%}
    {% endfor -%}
  </h1>
  <hr/>
  {% block body %}
  {% endblock %}
</div>
<style id="fs-css">
#page {
  min-width: 30em;
  max-width: 60em;
}
{% include 'res/fs.css' -%}
</style>
</body>
</html>
