<!DOCTYPE html>
<html>
<head>
  <title>FS: {{ title }}</title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static_handler', path='dir.png') }}" />
  {% for css_href in css_links -%}
  <link rel="stylesheet" type="text/css"
     href="{{ css_href }}" />
  {% endfor -%}
  {% for js_href in js_links -%}
  <script src="{{ js_href }}"></script>
  {% endfor -%}
  {% block style %}
  {% endblock -%}
  <style id="fs-css">
  {% include 'res/fs.css' -%}
  </style>
</head>
<body>
<div id="page" class="centered">
  <div id="header">
    <h1 id="addressbar" class="inline">
      <a href="{{ url_for('path_handler') }}" class="dir-link" tabindex="1">FS:</a>
      {% for pre in path_prefixes -%}
      {% if pre.href -%}
      / <a href="{{ pre.href }}" class="dir-link" tabindex="{{ pre.tabindex }}">{{ pre.name }}</a>
      {% else -%}
      / <span class="no-such">{{ pre.name }}</span>
      {% endif -%}
      {% endfor -%}
    </h1>
    <span id="toolbar">
    {% block toolbar %}
    {% endblock %}
    </span>
    <hr/>
  </div>
  {% block body %}
  {% endblock %}
</div>
</body>
</html>
